<li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newBurger="{{devoured}}">
		{{#if devoured}} Mmmmm Delicious!! {{else}}burger_name{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>